<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" (submit)="login()">
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
        @if (email?.touched && (email?.hasError('required') || email?.hasError('email'))) {
            <mat-error>
                {{email?.hasError("required") ? "É obrigatório informar o email." : "Email inválido." }}
            </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Senha"
          formControlName="password"
          type="password"
        />
        @if (password?.touched && password?.hasError('required')) {
            <mat-error>
                A senha é obrigatório.
            </mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
