:host {
    display: flex;
    height: 100%;
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    max-width: 450px;
    margin: auto;
    background-color: #0003;
    padding: 2rem;

    mat-card-content {
        width: 100%;
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            mat-form-field {
                width: 100%;
            }
        }
    }

}