.container {
    padding: 1rem;
}

.table-container {
    max-width: 100%;
    overflow: auto;
}

.actions-container {
    display: flex;
    gap: 1rem;
}

.top-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}