<div class="form-container">
  <h2>{{ plan()?.id ? "Editar" : "Novo" }} Plano</h2>

  <form [formGroup]="planForm" (submit)="onSubmit()">
    <!-- Título -->
    <div class="form-row">
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          formControlName="titulo"
          placeholder="Insira o título"
        />
        <mat-error *ngIf="planForm.get('titulo')?.invalid">
          O título é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- Data de Início -->
      <mat-form-field>
        <mat-label>Data de Início</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          formControlName="dt_inicio"
          placeholder="Escolha a data de início"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <mat-error *ngIf="planForm.get('dt_inicio')?.invalid">
          A data de início é obrigatória.
        </mat-error>
      </mat-form-field>

      <!-- Data de Fim -->
      <mat-form-field [class.disabled-form-field]="!planForm.get('dt_inicio')?.value">
        <mat-label>Data de Fim</mat-label>
        <input
          matInput
          [matDatepicker]="endPicker"
          formControlName="dt_fim"
          placeholder="Escolha a data de fim"
          [min]="planForm.get('dt_inicio')?.value"
          [readonly]="!planForm.get('dt_inicio')?.value"
        />
        <mat-datepicker-toggle
          matSuffix
          [disabled]="!planForm.get('dt_inicio')?.value"
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- Número de Meses de Contrato -->
      <mat-form-field [class.disabled-form-field]="!planForm.get('dt_inicio')?.value">
        <mat-label>Meses de Contrato</mat-label>
        <input
          matInput
          type="number"
          formControlName="numero_meses_contrato"
          placeholder="Número de meses"
          min="1"
          [readonly]="!planForm.get('dt_inicio')?.value"
        />
        <mat-error *ngIf="planForm.get('numero_meses_contrato')?.invalid">
          Insira um valor válido para o número de meses.
        </mat-error>
      </mat-form-field>

      <!-- Valor Mensal -->
      <mat-form-field>
        <mat-label>Valor Mensal</mat-label>
        <input
          matInput
          type="text"
          formControlName="valor_mensal"
          placeholder="Valor mensal"
          min="0"
          prefix="R$ "
          mask="separator.2"
          thousandSeparator="."
          [leadZero]="true"
        />
        <mat-error *ngIf="planForm.get('valor_mensal')?.invalid">
          Insira um valor válido para o valor mensal.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- Modelo de Contrato -->
      <mat-form-field>
        <mat-label>Modelo de Contrato</mat-label>
        <mat-select formControlName="modelo_contrato">
          @for (model of contractModels; track model) {
          <mat-option [value]="model">
            {{ model }}
          </mat-option>
          }
        </mat-select>
        <mat-error *ngIf="planForm.get('modelo_contrato')?.invalid">
          Selecione um modelo de contrato.
        </mat-error>
      </mat-form-field>

      <!-- Diárias -->
      <mat-form-field>
        <mat-label>Diárias</mat-label>
        <input
          matInput
          type="number"
          formControlName="diarias"
          placeholder="Número de diárias"
          min="1"
          max="7"
        />
        <mat-error *ngIf="planForm.get('diarias')?.invalid">
          Insira um valor válido para as diárias (1 - 7).
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- Descrição -->
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          formControlName="descricao"
          placeholder="Insira a descrição"
        ></textarea>
        <mat-error *ngIf="planForm.get('descricao')?.invalid">
          A descrição é obrigatória.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons-container">
      <button type="submit" mat-flat-button>Salvar</button>
      <button *ngIf="plan()?.id" mat-stroked-button color="warn" (click)="onDelete()">
        Excluir
      </button>
    </div>
  </form>
</div>
